<!DOCTYPE HTML>

<html>
	<head>
		<title>Flying Squirrel</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
				<!-- Page Wrapper -->
				<div id="page-wrapper">

					<!-- Header -->
						<header id="header">
							<h1><a href="../index.html">Home</a></h1>
						</header>
		
					<!-- Wrapper -->
						<section id="wrapper">
							<header>
								<div class="inner">
									<h2 class="major">Flying Squirrel</h2>
									<p>Lovingly crafted Irish vegan cheese</p>
									I created a sample website for a family member who was in the process of setting up his own company making vegan cheese. 
									I wanted to work with the stripe payment service to demonstrate how he could implement an online ordering service.
								</div>
							</header>
		
							<!-- Content -->
								<div class="wrapper">
									<div class="inner">
										<h3 class="major">Implementation</h3>
										<p>
											<img src="../images/FlyingSquirrel.png" class="center" alt="buy cheese">
										<p>
											The website is built using the .Net MVC framework and the <a href="https://stripe.com/">Stripe</a> payment platform. 	
										</p>
										<p>
											<img src="../images/stripecheese.JPG" class="center" alt="buy cheese">
										</p>
									</div>
									<div class="inner">
										<a href="https://github.com/FrankDunlop/Flying-Squirrel" class="special">View Code</a>
									</div>	
								</div>
						</section>
				</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>